version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    groups:
      github-actions:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: docker
    directory: /netbox
    schedule:
      interval: daily
    labels:
      - "dependencies"
      - "docker"
    groups:
      docker:
        patterns:
          - "*"
