name: "NetBox"
version: "0.1.0"
slug: "netbox"
description: >-
  Document every IP, device, and rack in your network for centralized management.
arch:
  - amd64
  - aarch64
url: "https://github.com/boecht/ha-addon-netbox"
startup: services
boot: auto
init: false
panel_icon: mdi:table-network
image: "ghcr.io/boecht/ha-addon-netbox/netbox-{arch}"
ports:
  8000/tcp: 8000
ports_description:
  8000/tcp: NetBox web UI
watchdog: "http://[HOST]:[PORT:8000]/health/"
ingress: false
host_network: false
apparmor: false
map:
  - type: share
    read_only: false
  - type: config
    read_only: false
options:
  reset_superuser: false
  housekeeping_interval: 3600
  enable_prometheus: false
schema:
  reset_superuser: bool
  allowed_hosts: "list(str)?"
  housekeeping_interval: int(300,86400)
  enable_prometheus: bool
  plugins: "list(str)?"
